<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PR System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>   
        .navbar-inverse{
            background-color:#2b491b !important;

        }
        body 
        {
            direction:rtl;
        }
        footer {
            height: 81px;
            bottom: 0px;
            font-family: Algerian;
            text-align: left;
        }
        #myNav {
            width: 100%;
            padding: 0px;
            position: relative;
        }
        #namelogin {
            position:absolute;
            right:0px;
        }

    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               <!--- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
             <!--@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul id="myNav" class="nav navbar-nav">
                    <li>@Html.ActionLink("יציאה", "Login", "Worker")</li>
                    <li>@Html.ActionLink("עדכון פרטים", "Update", "Worker")</li>
                   <li id="namelogin" >                      
                        <p style="color:white">@Session["Name"]</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody() 

        <footer>
            <p>www.DrugsGiving.org.il</p>
        </footer>
    </div>
   
</body>
</html>